<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="shortcut icon" href="~/Content/images/favicon_0.ico">*@
    <title>@ViewBag.Title - WafaCash </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"> <img style=" height:100%; display: block;" src="~/Content/images/greenleaf.gif" alt="image" /></a>
                    </div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Addhoc Reporting</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Home")">Rapport Liste</a></li>
                                   </ul>
                                </li>
                                
                            </ul>                           
                        </div>
                        <div class="menu_section">
                         
                        </div>

                    </div>
                   
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <div class="right_col" role="main">
                @RenderBody()
                <hr />
                <footer>
                    <div class="pull-right">
                        Copyright  Wafacash 2016	-  Tous droits reserves     SQLI Groupe
                    </div>
                    <div class="clearfix"></div>
                </footer>
            </div>
            <!-- footer content -->
            <!-- /footer content -->
            @RenderSection("scripts", required: false)
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/autre")
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
</body>
</html>
