@{
    ViewBag.Title = "Folder Page";
}


  <!-- page content -->

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3> Liste Folder  <small>  </small> </h3>
            </div>

            
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                       <h2>Dossiers</h2>  
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                           
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            @foreach(string str in ViewBag.Directories)
                            {
                                
                            <div class="col-md-55">
                                <a href="@Url.Action("Index", "Home", new { path = str })">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;" src="~/Content/images/Folder.png" alt="image" />
                                            <div class="mask">
                                                <p>@Path.GetFileName(str)</p>                                               
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>@Path.GetFileName(str)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                       <h2>Fichiers</h2> 
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row">

                            @foreach (string str in ViewBag.Files)
                            {

                                <div class="col-md-55">
                                    <a href="@Url.Action("ListReport", "Home", new { path = str })">
                                        <div class="thumbnail">
                                            <div class="image view view-first">
                                                <img style="width: 100%; display: block;" src="~/Content/images/file.png" alt="image" />
                                                <div class="mask">
                                                    <p>@Path.GetFileName(str)</p>
                                                  
                                                </div>
                                            </div>
                                            <div class="caption">
                                                <p>@Path.GetFileName(str)</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!-- /page content -->

