@model SQLi.NoSql.API.MongoR.Models.ReportModelTheme
 <div class="x_panel">
        <div class="x_title">
            <h2>Configuration Filter <small>different form elements</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="form-horizontal form-label-left input_mask">
            <br>
            @using (Html.BeginForm("Filter", "Home"))
            {
                @Html.AntiForgeryToken()

               @Html.Hidden("path", Model.Path)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @if (Model.CurrentReport != null && Model.CurrentReport.FilterList != null)
                    {
                        foreach (var filter in Model.CurrentReport.FilterList)
                        {

                            var value = Model.CurrentReport.FilterDataValue[filter.Name];

                            if (filter.Type == "Text")
                            {
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    @Html.Label(filter.DisplayName)
                                    @Html.TextBox(filter.Name, value, new { @class = "form-control" })
                                 </div>
                            }

                            if (filter.Type == "Date")
                            {
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    @Html.Label(filter.DisplayName)
                                    @Html.TextBox(filter.Name, value, new { @class = "form-control" })
                                </div>
                            }

                            if (filter.Type == "List")
                            {
                                var source = new List<SelectListItem>
                                    ();
                                var tmps = filter.Source.Split(',');

                                foreach (var tmp in tmps)
                                {
                                    var item = new SelectListItem()
                                    {
                                        Text = tmp,
                                        Value = tmp

                                    };
                                    if (value != null && value.ToString() == tmp)
                                    {
                                        item.Selected = true;
                                    }

                                    source.Add(item);

                                }

                                <input value="@Model.CurrentReport.path" name="path" class="hidden"/>

                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    @Html.Label(filter.DisplayName)
                                    @Html.DropDownList(filter.Name, source, new { @class = "form-control" })
                                </div>
                            }


                        }
                    }
                                    <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                        <input type="submit" value="Filtrer" class="btn btn-primary" />
                                    </div>
                                </div>


            }
           
        </div>
    </div>