
@model SQLi.NoSql.API.MongoR.Models.ReportModelTheme
@using System.Data
@using System.Linq;
@using System.Dynamic;

@{
    ViewBag.Title = "ReportDetails";
}
<div>
    <div class="x_title">
        <h2> Result   </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        @if (Model.CurrentReport != null && Model.CurrentReport.Grid.ResultSet != null &&
                                                                   Model.CurrentReport.Grid.ResultSet.Tables.Count > 0)
        {
            //Dipalying table header
            var cpt = Model.CurrentReport.CurrentPage * Model.CurrentReport.Grid.MaxInPage;

            var headers = new List<WebGridColumn>();


            var result = new List<dynamic>();

            foreach (DataRow row in Model.CurrentReport.Grid.ResultSet.Tables[0].Rows)
            {
                var obj = (IDictionary<string, object>)new ExpandoObject();
                foreach (DataColumn col in Model.CurrentReport.Grid.ResultSet.Tables[0].Columns)
                {
                    obj.Add(col.ColumnName, row[col.ColumnName]);
                }
                result.Add(obj);
            }

            var grid = new WebGrid(rowsPerPage: Model.CurrentReport.Grid.MaxInPage, canPage: true);

            grid.Bind(result, autoSortAndPage: false, rowCount: Model.CurrentReport.ResultCount);

            foreach (var coloumn in Model.CurrentReport.Grid.Column)
            {
                var tmp = grid.Column(coloumn.Name, coloumn.Header);
                headers.Add(tmp);

            }
            <div class="row">
                <div class="table-responsive">
                    @grid.GetHtml(
                 tableStyle: "table table-striped jambo_table bulk_action",
                 alternatingRowStyle: "alternate",
                 headerStyle: "headings",
                 selectedRowStyle: "select",

                 mode: WebGridPagerModes.All,
                 firstText: "<< First",
                 previousText: "< Prev",
                 nextText: "Next >",
                 lastText: "Last >>",
                 columns: grid.Columns(
                   headers.ToArray()
                 )
         )
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                Total ligne : @Html.Label(Model.CurrentReport.ResultCount.ToString())
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                page : @Html.Label((Model.CurrentReport.CurrentPage + 1).ToString())
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                Total Page : @Html.Label(Model.CurrentReport.PageCount.ToString())
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                <div>@Html.ActionLink("Export Excel", "ExcelExport",new { path = Model.Path})</div>
            </div>
        }
    </div>



</div>